 /* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .navbar {
    background: crimson;
    font-family: Sharp Grotesk;
    border-style: groove;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;
  }
  
  .logo img {
    width: 150px;
    height: 100px;
    justify-content: center;
  }
  
  .logo a {
    font-size: 35px;
    font-weight: 600;
    color: red;
  }
  
  li {
    list-style: none;
    display: inline-block;
  }
  
  li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
  }
  
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  main {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .grid-item {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
  }
  
  .grid-item img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .grid-item p {
    margin: 10px 0 0;
  }
  
  .grid-item ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .grid-item ul li {
    margin: 5px 0;
  }
  
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item {
      flex: 1 1 100%;
    }
  }
  
   
  
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
  .flex-item {
    flex: 1 1 100%;
  }
  }
  
  
  
  

  
  /* Responsive design */
  @media (max-width: 768px) {
    main {
        width: 80%;
    }
  }
  
  @media (max-width: 480px) {
    main {
        width: 95%;
    }
}   
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: black;
        color: aliceblue;
        padding: 35px;
        margin: 3px;
      }
      
      .footer-last,
      .footer-bottom {
        padding: 25px;
        margin: 5px;
      }
  